* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: medium;
}

body {
    margin: 0;
    background-image: url(./images/body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-size: xx-large;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0;
}

#main-container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

#form {
    margin: 2vh;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input {
    outline: none;
    width: 60vw;
    height: 5vh;
    margin: 7px;
    text-align: center;
}

::placeholder {
    color: red;
    opacity: 0.5;
}

form input[type=text] {
    cursor: text;
    max-width: 450px;
    color: limegreen !important;
    text-transform: uppercase;
    font-size: large;
    background: white;
    border-radius: 6px;
    border: 2px solid black !important;
    display: inline-block;
    transition: all 0.3 ease 0s;
}

form input[type=text]:hover {
    background: rgb(238, 238, 238) !important;
    border-radius: 50px;
    border-color: rgb(238, 238, 238) !important;
    transition: all 0.3s ease 0s;
}

form input[type=submit] {
    cursor: pointer;
    max-width: 450px;
    color: limegreen !important;
    text-transform: uppercase;
    font-size: large;
    background: white;
    border-radius: 6px;
    border: 2px solid black !important;
    display: inline-block;
    transition: all 0.3 ease 0s;
}

form input[type=submit]:hover {
    background: rgb(238, 238, 238) !important;
    border-radius: 50px;
    border-color: rgb(238, 238, 238) !important;
    transition: all 0.3s ease 0s;
}

#routes {
    max-width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    display: block;
    border: 2px solid black !important;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    background: white;
    color: black;
    margin: 10px;
    opacity: 0.9;
    width: 400px;
    padding: 15px;
}